@model CourseUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

@section Styles
    {
    <style>
        .sliderImage {
            width: 150px !important;
            height: 150px !important;
            object-fit: contain !important;
            border-radius: 0px !important;
        }
    </style>
}

<h1 class="text text-success">Update course</h1>
<div class="alert alert-danger" asp-validation-summary="All"></div>
<form method="post" class="mt-2" enctype="multipart/form-data">
    <div class="mb-2">
        <label asp-for="@Model.Image" class="form-label">Course image</label>
        <input asp-for="@Model.Image" accept="image/*" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Image"></span>
    </div>
    <div class="imagesTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img class="sliderImage" src="~/assets/img/course/@Model.ImageUrl">
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger removeProductImage" data-id="@Model.Id">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Title" class="form-label">Course Name</label>
        <input asp-for="@Model.Title" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Title"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Description" class="form-label">Description</label>
        <input asp-for="@Model.Description" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Description"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.About" class="form-label">About</label>
        <input asp-for="@Model.About" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.About"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Certification" class="form-label">Certification</label>
        <input asp-for="@Model.Certification" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Certification"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.HowToApply" class="form-label">How to apply</label>
        <input asp-for="@Model.HowToApply" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.HowToApply"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.CategoryId" class="form-label">Category</label>
        <select asp-for="@Model.CategoryId" class="form-select" asp-items="@Model.Categories">
        </select>
        <span class="mt-2 text text-danger" asp-validation-for="@Model.CategoryId"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.StartDate" class="form-label">Start time</label>
        <input asp-for="@Model.StartDate" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.StartDate"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.EndDate" class="form-label">Start time</label>
        <input asp-for="@Model.EndDate" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.EndDate"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Duration" class="form-label">Duration</label>
        <input asp-for="@Model.Duration" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Duration"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.ClassDuration" class="form-label">Class duration</label>
        <input asp-for="@Model.ClassDuration" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.ClassDuration"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.SkillLevel" class="form-label">Skill level</label>
        <input asp-for="@Model.SkillLevel" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.SkillLevel"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Language" class="form-label">Language</label>
        <input asp-for="@Model.Language" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Language"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Assesments" class="form-label">Assesments</label>
        <input asp-for="@Model.Assesments" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.Assesments"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.StudentCount" class="form-label">Student count</label>
        <input asp-for="@Model.StudentCount" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.StudentCount"></span>
    </div>
    <div class="mb-2">
        <label asp-for="@Model.CourseFee" class="form-label">Fee</label>
        <input asp-for="@Model.CourseFee" class="form-control">
        <span class="mt-2 text text-danger" asp-validation-for="@Model.CourseFee"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

